section{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.paragraph-styling{
    cursor: pointer;
}
@media screen and (max-width: 280px){
    .info{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #inputfield{
        width: 150px;
        margin-left: 65px;
    }
    #add{
        width: 40px;
        margin-left: 120px;
        margin-top: 10px;
    }
    #head{
        margin-left: 20px;
    }
}